/**
* SCSS file for styling overrides, utilise nesting capabilites not available with plain CSS
*/
.ApplicationHeaderBar {
  .Title {
    flex-grow: 1;
    color: #FFF;
  }
  .Links {
    a > button {
      color: #FFF;
    }
  }
}

